:host {
    display: flex;
    justify-content: center;
}

.login-card {
    width: 300px;
    margin: 50px;
}

mat-error {
  padding-top: 10px;
}

.alert {
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
}

.alert-danger {
  background-color: #f44336;
}
