/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#obis-search-nav {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #428bca
}

a {
    color: #548235;
}

a:hover {
    color: #72b446;
}

.nav-link {
    color: #000;
}

.nav-pills .nav-link.active {
    background-color: #548235;
}

.nav-pills .show>.nav-link {
    background-color: #548235;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #548235;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    background-color: #548235;
}

.tab-pane {
    text-align: center;
}

.centered {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.wider {
  width: 90%;
}

.map {
    width: auto;
    padding: 0px;
}

.label {
    color: #548235;
}

.form-control {
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: #548235;
    box-shadow: 0 0 0 0.2rem #548235;
}

#pagination {
    margin: 10px 0;
    text-align: left;
}

.btn {
  color: white;
}

.btn-link {
    color: #548235;
}

.btn-link:hover {
    color: #72b446;
}

.btn-success {
    background-color: #548235;
    border-color: #548235;
    color: #fff;
}

.btn-success:hover {
    background-color: #72b446;
    border-color: #72b446;
    color: #fff;
}

.btn-success:active {
    background-color: #548235;
    border-color: #548235;
    color: #fff;
}

.page-item.active .page-link {
    background-color: #548235;
    border-color: #548235;
}

.page-link {
    color: #548235;
}

.page-link:hover {
    color: #fff;
    background-color: #72b446;
    border-color: #72b446;
}

.btn-primary {
    background-color: #548235;
    border-color: #548235;
    margin: 5px;
}

.btn-primary:hover {
    background-color: #72b446;
    border-color: #72b446;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #548235;
    border-color: #548235;
}

.btn-primary:disabled {
    background-color: #548235;
    border-color: #548235;
}

mat-card {
  box-shadow: none;
}

mat-card-title {
  color: #548235;
}

mat-form-field {
  width: 100%;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #72b446;
}

.mat-toolbar.mat-primary {
    background: #548235;
}

.mat-input-element {
    caret-color: #548235;
}

.mat-focused .mat-form-field-label {
  color: #548235 !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #72b446 !important;
}

.outline {
  border: 2px solid #72b446;
  border-radius: 10px !important;
  margin-bottom: 10px;
}
