mat-card {
  box-shadow: none;
}

mat-card-title {
  color: #548235;
}

mat-form-field {
  width: 100%;
}

.outline {
  border: 2px solid #72b446;
  border-radius: 10px;
  margin-bottom: 10px;
}

.alert-danger {
  background-color: #f44336;
}

.alert {
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
}

.btn {
  width: auto;
  color: white;
}
