.row {
  margin-top: 15px;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
  height: auto;
}

.one {
  margin: 0px 10px 0px -10px;
}

.two {
  margin: 0px -10px 0px 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.outline {
  border: 2px solid #72b446;
  border-radius: 10px;
  margin-bottom: 10px;
}

mat-card {
  box-shadow: none;
}

mat-card-title {
  color: #548235;
}

mat-form-field {
  width: 100%;
}

.alert-danger {
  background-color: #f44336;
}

.alert {
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
}

.right {
  width: 50%;
  display: inline-block;
  text-align: left;
}

select {
  width: 100%;
}

.select-control {
  display: block;
  width: 15%;
}

.select-control button {
  width: 50%;
}
