.row {
  margin-top: 15px;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
}

.one {
  margin: 0px 10px 0px -10px;
}

.two {
  margin: 0px -10px 0px 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

mat-card {
  border: 2px solid #72b446;
  border-radius: 10px;
}

mat-card-title {
  color: #548235;
}

mat-form-field {
  width: 100%;
}

.alert-danger {
  background-color: #f44336;
}

.alert {
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
}
