<div class="row">
  <div class="column one">
    <form [formGroup]="acctaxForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Taxonomic Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="acode" formControlName="acode" [(ngModel)]="this.acode">
            <div *ngIf="submitted && af.acode.errors">
              <mat-error *ngIf="af.acode.errors.required">acode is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Scientific Name" formControlName="sname">
            <div *ngIf="submitted && af.sname.errors">
              <mat-error *ngIf="af.sname.errors.required">Scientific Name is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Scientific Name Authorship" formControlName="sname_author">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Family" formControlName="family">
            <div *ngIf="submitted && af.family.errors">
              <mat-error *ngIf="af.family.errors.required">Family is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Genus" formControlName="genus">
            <div *ngIf="submitted && af.genus.errors">
              <mat-error *ngIf="af.genus.errors.required">Genus is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Species" formControlName="species">
            <div *ngIf="submitted && af.species.errors">
              <mat-error *ngIf="af.species.errors.required">Species is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Subspecies" formControlName="subspecies">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Variety" formControlName="variety">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Forma" formControlName="forma">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Element Code" formControlName="elcode">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="gelcode" formControlName="gelcode">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="IUCN Code" formControlName="iucncode">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Global Rank</mat-label>
            <mat-select matInput formControlName="g_rank">
              <mat-option *ngFor="let gRank of this.gRanks" [value]="gRank.value">{{gRank.viewValue}}</mat-option>
            </mat-select>
            <div *ngIf="submitted && af.g_rank.errors">
              <mat-error *ngIf="af.g_rank.errors.required">Global Rank is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <mat-label>State Rank</mat-label>
            <mat-select matInput formControlName="s_rank">
              <mat-option *ngFor="let sRank of this.sRanks" [value]="sRank.value">{{sRank.viewValue}}</mat-option>
            </mat-select>
            <div *ngIf="submitted && af.s_rank.errors">
              <mat-error *ngIf="af.s_rank.errors.required">State Rank is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Nativity" formControlName="nativity">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Source" formControlName="source">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="USDA Code" formControlName="usda_code">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Taxonomic Serial Number" formControlName="tsn">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Federal Status</mat-label>
            <mat-select matInput formControlName="fed_status">
              <mat-option *ngFor="let fedStatus of this.fedStatus" [value]="fedStatus.value">{{fedStatus.viewValue}}</mat-option>
            </mat-select>
            <div *ngIf="submitted && af.fed_status.errors">
              <mat-error *ngIf="af.fed_status.errors.required">Federal Status is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <mat-label>State Status</mat-label>
            <mat-select matInput formControlName="st_status">
              <mat-option *ngFor="let stStatus of this.stStatus" [value]="stStatus.value">{{stStatus.viewValue}}</mat-option>
            </mat-select>
            <div *ngIf="submitted && af.st_status.errors">
              <mat-error *ngIf="af.st_status.errors.required">State Status is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <mat-label>OK Swap</mat-label>
            <mat-select matInput formControlName="swap">
              <mat-option *ngFor="let swap of this.swap" [value]="swap.value">{{swap.viewValue}}</mat-option>
            </mat-select>
            <div *ngIf="submitted && af.swap.errors">
              <mat-error *ngIf="af.swap.errors.required">OK Swap is required</mat-error>
            </div>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  <div class="column two">
    <form [formGroup]="comtaxForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Vernacular Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="acode" formControlName="acode" [(ngModel)]="this.acode">
            <div *ngIf="submitted && cf.acode.errors">
              <mat-error *ngIf="cf.acode.errors.required">acode is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Vernacular Name" formControlName="vname">
            <div *ngIf="submitted && cf.vname.errors">
              <mat-error *ngIf="cf.vname.errors.required">Vernacular name is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Primary Name</mat-label>
            <mat-select>
              <mat-option [value]="0">True</mat-option>
              <mat-option [value]="1">False</mat-option>
            </mat-select>
            <mat-hint>Is this the accepted vernacular name or a synonym?</mat-hint>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </form>
    <form [formGroup]="syntaxForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Synonym Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="acode" formControlName="acode" [(ngModel)]="acode">
            <div *ngIf="submitted && sf.acode.errors">
              <mat-error *ngIf="sf.acode.errors.required">acode is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="scode" formControlName="scode">
            <div *ngIf="submitted && sf.scode.errors">
              <mat-error *ngIf="sf.scode.errors.required">scode is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Scientific Name" formControlName="sname">
            <div *ngIf="submitted && sf.sname.errors">
              <mat-error *ngIf="sf.sname.errors.required">Scientific Name is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Scientific Name Authorship" formControlName="sname_author">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Family" formControlName="family">
            <div *ngIf="submitted && sf.family.errors">
              <mat-error *ngIf="sf.family.errors.required">Family is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Genus" formControlName="genus">
            <div *ngIf="submitted && sf.genus.errors">
              <mat-error *ngIf="sf.genus.errors.required">Genus is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Species" formControlName="species">
            <div *ngIf="submitted && sf.species.errors">
              <mat-error *ngIf="sf.species.errors.required">Species is required</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Subspecies" formControlName="subspecies">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Variety" formControlName="variety">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Taxonomic Serial Number" formControlName="tsn">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
